[Unit]
# define dependencies
After=docker.service
#PartOf=docker.service
Requires=docker.service

[Service]
# Load ENV vars from a file. Note that this env vars will only be
# accessible in the context of the Exec* commands, and not within the
# container itself. To make env-vars accessible within the Container, we use
# the `--env-file` flag for the `docker run` command.
#EnvironmentFile=/etc/sysconfig/homer

# Even though we explicitly run the container using the `--rm` flag, there
# may be leftover containers (eg. after a system-, docker- or app-crash).
# Starting a container with an existing name will always fail.

ExecStartPre=-/usr/bin/docker stop homer
ExecStartPre=-/usr/bin/docker rm -f homer

ExecStart=/usr/bin/docker run \
    --name homer \
    -v /home/rocky/homer/:/www/assets:z \
    -u 0:0 \
    -e SUBFOLDER=/homer \
    -p 8081:8080 \
    b4bz/homer:latest

# Stop command.
ExecStop=/usr/bin/docker stop homer

# Ensure log messages are correctly tagged in the system log.
SyslogIdentifier=homer

# Auto-Restart the container after a crash.
Restart=always


[Install]
# make sure service is started after docker is up
WantedBy=multi-user.target
